In [23]:
import pandas as pd
import numpy as np

In [24]:
df = pd.read_csv('./PRSA_data_2010.1.1-2014.12.31.csv')
df

,No,year,month,day,hour,pm2.5,DEWP,TEMP,PRES,cbwd,Iws,Is,Ir
0,1,2010,1,1,0,NaN,-21,-11.0,1021.0,NW,1.79,0,0
1,2,2010,1,1,1,NaN,-21,-12.0,1020.0,NW,4.92,0,0
2,3,2010,1,1,2,NaN,-21,-11.0,1019.0,NW,6.71,0,0
3,4,2010,1,1,3,NaN,-21,-14.0,1019.0,NW,9.84,0,0
4,5,2010,1,1,4,NaN,-20,-12.0,1018.0,NW,12.97,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
43819,43820,2014,12,31,19,8.0,-23,-2.0,1034.0,NW,231.97,0,0
43820,43821,2014,12,31,20,10.0,-22,-3.0,1034.0,NW,237.78,0,0
43821,43822,2014,12,31,21,10.0,-22,-3.0,1034.0,NW,242.70,0,0
43822,43823,2014,12,31,22,8.0,-22,-4.0,1034.0,NW,246.72,0,0
43823,43824,2014,12,31,23,12.0,-21,-3.0,1034.0,NW,249.85,0,0

In [25]:
df.isna().sum()

No          0
year        0
month       0
day         0
hour        0
pm2.5    2067
DEWP        0
TEMP        0
PRES        0
cbwd        0
Iws         0
Is          0
Ir          0
dtype: int64

In [26]:
df = df.dropna()
df.dtypes

No         int64
year       int64
month      int64
day        int64
hour       int64
pm2.5    float64
DEWP       int64
TEMP     float64
PRES     float64
cbwd      object
Iws      float64
Is         int64
Ir         int64
dtype: object

In [27]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df['cbwd'] = le.fit_transform(df['cbwd'])

df = df.iloc[:,1:] # remove row number column
df

<ipython-input-27-ce4bd7a90373>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cbwd'] = le.fit_transform(df['cbwd'])

       year  month  day  hour  pm2.5  DEWP  TEMP    PRES  cbwd     Iws  Is  Ir
24     2010      1    2     0  129.0   -16  -4.0  1020.0     2    1.79   0   0
25     2010      1    2     1  148.0   -15  -4.0  1020.0     2    2.68   0   0
26     2010      1    2     2  159.0   -11  -5.0  1021.0     2    3.57   0   0
27     2010      1    2     3  181.0    -7  -5.0  1022.0     2    5.36   1   0
28     2010      1    2     4  138.0    -7  -5.0  1022.0     2    6.25   2   0
...     ...    ...  ...   ...    ...   ...   ...     ...   ...     ...  ..  ..
43819  2014     12   31    19    8.0   -23  -2.0  1034.0     1  231.97   0   0
43820  2014     12   31    20   10.0   -22  -3.0  1034.0     1  237.78   0   0
43821  2014     12   31    21   10.0   -22  -3.0  1034.0     1  242.70   0   0
43822  2014     12   31    22    8.0   -22  -4.0  1034.0     1  246.72   0   0
43823  2014     12   31    23   12.0   -21  -3.0  1034.0     1  249.85   0   0

[41757 rows x 12 columns]

In [14]:
# convert to datetime
# df['datetime'] = pd.to_datetime(df[['year','month','day','hour']], format='%Y/%m/%d, %H')

In [15]:
# df = df.drop(['year','month','day','hour'], axis = 1)
# df = df.reset_index()
# df = df[['datetime','pm2.5','DEWP','PRES','cbwd','Iws','Is','Ir']]
# df

                 datetime  pm2.5  DEWP    PRES  cbwd     Iws  Is  Ir
0     2010-01-02 00:00:00  129.0   -16  1020.0     2    1.79   0   0
1     2010-01-02 01:00:00  148.0   -15  1020.0     2    2.68   0   0
2     2010-01-02 02:00:00  159.0   -11  1021.0     2    3.57   0   0
3     2010-01-02 03:00:00  181.0    -7  1022.0     2    5.36   1   0
4     2010-01-02 04:00:00  138.0    -7  1022.0     2    6.25   2   0
...                   ...    ...   ...     ...   ...     ...  ..  ..
41752 2014-12-31 19:00:00    8.0   -23  1034.0     1  231.97   0   0
41753 2014-12-31 20:00:00   10.0   -22  1034.0     1  237.78   0   0
41754 2014-12-31 21:00:00   10.0   -22  1034.0     1  242.70   0   0
41755 2014-12-31 22:00:00    8.0   -22  1034.0     1  246.72   0   0
41756 2014-12-31 23:00:00   12.0   -21  1034.0     1  249.85   0   0

[41757 rows x 8 columns]

In [21]:
# Decision_Tree_Classifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.datasets import make_regression
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn import metrics
from datetime import datetime

# df['datetime'].timestamp()
# df['datetime'] = pd.to_datetime(df['datetime'])
# df['datetime'] = (df['datetime'] - df['datetime'].iloc[0])/pd.to_timedelta('1Min')

# df["datetime"] = df["datetime"].dt.strftime('%Y%m%d%H').astype(float)

# print(df['datetime'])

dataset = df.values
X = dataset[:,[0,1,2,3,5,6,7,8,9,10,11]]
# X = dataset[:,[2,3,4,5,6,7]]
Y = dataset[:,4]

# X

0        2.010010e+09
1        2.010010e+09
2        2.010010e+09
3        2.010010e+09
4        2.010010e+09
             ...
41752    2.014123e+09
41753    2.014123e+09
41754    2.014123e+09
41755    2.014123e+09
41756    2.014123e+09
Name: datetime, Length: 41757, dtype: float64

In [ ]:
X = np.asarray(X).astype('float32')
Y = np.asarray(Y).astype('float32')
min_max_scaler = preprocessing.MinMaxScaler()
X_scale = min_max_scaler.fit_transform(X)
X_train, X_val_and_test, Y_train, Y_val_and_test = train_test_split(X_scale, Y, test_size=0.3)
# X_train, X_val_and_test, Y_train, Y_val_and_test = train_test_split(X, Y, test_size=0.3)
X_val, X_test, Y_val, Y_test = train_test_split(X_val_and_test, Y_val_and_test, test_size=0.5)

# fit final model
model = DecisionTreeClassifier(criterion="entropy", max_depth=100000)
Y_train = Y_train.astype('int')
model.fit(X_train, Y_train)
# y_sum = 0
# for ind in range(len(Y_test)):
#     y_sum += Y_test[ind]
# y_mean = y_sum / len(Y_test)
# ssr = 0
# sst = 0
# ynew = model.predict(X_test)

# for i in range(len(X_test)):
#     print("X= {}, True_Y= {} ,Predicted= {}".format(X_test[i], Y_test[i] ,ynew[i]))

from sklearn.model_selection import cross_val_score
accuracies = cross_val_score(estimator = model, X = X_train, y = Y_train, cv = 3)
print("Accuracy:",accuracies.mean())
print("Std",accuracies.std())

print("Accuracy Score:", model.score(X_test,Y_test))

from matplotlib import pyplot as plt
from sklearn import tree

fig = plt.figure(figsize=(25,20))
_ = tree.plot_tree(model,filled=True)
fig.savefig("decistion_tree.png")

C:\Users\PC\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:676: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=3.
  warnings.warn(

Accuracy: 0.02186184953299805
Std 0.0009064724280332392
Accuracy Score: 0.020913154533844187

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.datasets import make_regression
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn import metrics

df = pd.read_csv('New_train_data.csv')
# df = pd.read_csv('CH22_Demand_XY_Train.csv')
# Data preparation
dataset = df.values
X = dataset[:,1:5]
Y = dataset[:,5]
X = np.asarray(X).astype('float32')
Y = np.asarray(Y).astype('float32')
# min_max_scaler = preprocessing.MinMaxScaler()
# X_scale = min_max_scaler.fit_transform(X)
# X_train, X_val_and_test, Y_train, Y_val_and_test = train_test_split(X_scale, Y, test_size=0.3)
X_train, X_val_and_test, Y_train, Y_val_and_test = train_test_split(X, Y, test_size=0.3)
X_val, X_test, Y_val, Y_test = train_test_split(X_val_and_test, Y_val_and_test, test_size=0.5)

# fit final model
model = DecisionTreeClassifier(criterion="entropy", max_depth=100000)
Y_train = Y_train.astype('int')
model.fit(X_train, Y_train)
y_sum = 0
for ind in range(len(Y_test)):
    y_sum += Y_test[ind]
y_mean = y_sum / len(Y_test)
ssr = 0
sst = 0
ynew = model.predict(X_test)
for i in range(len(X_test)):
    print("X= {}, True_Y= {} ,Predicted= {}".format(X_test[i], Y_test[i] ,ynew[i]))
    ssr += (Y_test[i] - ynew[i])**2
    sst += (Y_test[i] - y_mean)**2
r2 = 1 - (ssr/sst)
print("R^2 value:",r2)
print("r2_score:",metrics.r2_score(Y_test, ynew))

from sklearn.model_selection import cross_val_score
accuracies = cross_val_score(estimator = model, X = X_train, y = Y_train, cv = 2)
print(accuracies.mean())
print(accuracies.std())

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.datasets import make_regression
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn import metrics
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
from sklearn.ensemble import RandomForestRegressor


# Data preparation
dataset = df.values
X = dataset[:,1:5]
Y = dataset[:,5]
X = np.asarray(X).astype('float32')
Y = np.asarray(Y).astype('float32')
# min_max_scaler = preprocessing.MinMaxScaler()
# X_scale = min_max_scaler.fit_transform(X)
# X_train, X_val_and_test, Y_train, Y_val_and_test = train_test_split(X_scale, Y, test_size=0.3)
X_train, X_val_and_test, Y_train, Y_val_and_test = train_test_split(X, Y, test_size=0.3)
X_val, X_test, Y_val, Y_test = train_test_split(X_val_and_test, Y_val_and_test, test_size=0.5)

# fit final model
model = RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=100,
           max_features='sqrt', min_samples_leaf=4,
           min_samples_split=6, n_estimators=100)

# from sklearn.model_selection import RandomizedSearchCV
# rf2 = RandomForestRegressor()
# n_estimators = [5,20,50,100,150,200]
# max_features = ['auto', 'sqrt']
# max_depth = [int(x) for x in np.linspace(10, 120, num = 12)]
# min_samples_split = [2, 6, 10]
# min_samples_leaf = [1, 3, 4]
# bootstrap = [True, False]
# random_grid = {'n_estimators': n_estimators,
#                 'max_features': max_features,
#                 'max_depth': max_depth,
#                 'min_samples_split': min_samples_split,
#                 'min_samples_leaf': min_samples_leaf,
#                 'bootstrap': bootstrap}
# rf_cv = RandomizedSearchCV(estimator = rf2, param_distributions = random_grid, n_iter = 100, cv = 3, verbose = 2, random_state = 42, n_jobs = -1)
# rf_cv.fit(X_train, Y_train)
# print ('Best Parameters: ', rf_cv.best_params_)

# 150 = 41, 35
# Y_train = Y_train.astype('int')

model.fit(X_train, Y_train)
y_sum = 0
for ind in range(len(Y_test)):
    y_sum += Y_test[ind]
y_mean = y_sum / len(Y_test)
ssr = 0
sst = 0
ynew = model.predict(X_test)
for i in range(len(X_test)):
    print("X= {}, True_Y= {} ,Predicted= {}".format(X_test[i], Y_test[i] ,ynew[i]))
    ssr += (Y_test[i] - ynew[i])**2
    sst += (Y_test[i] - y_mean)**2
r2 = 1 - (ssr/sst)
print("R^2 value:",r2)
print("r2_score:",metrics.r2_score(Y_test, ynew))

from sklearn.model_selection import cross_val_score
accuracies = cross_val_score(estimator = model, X = X_train, y = Y_train, cv = 8)
print(accuracies.mean())
print(accuracies.std())